# Local Terraform directories
.terraform/

# State files (contains semsitive data)
*.tfstate
*.tfstate.*

# Lock files
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Variable files (usually contains semsitive data)
*.tfvars
*.tfvars.json

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# Plan files (terraform plan -out=XXX.tfplan)
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc

# Other temporary or systemfiles
.DS_Store

# Credentials
terraform.tfvars