CADDY_DOMAIN {
    route /* {
        reverse_proxy http://127.0.0.1:8383 {
            header_up X-Real-IP {remote}
        }
    }
}
http://127.0.0.1:80 {
    route /* {
        reverse_proxy http://127.0.0.1:8383 {
            header_up X-Real-IP {remote}
        }
    }
}